# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.cache/
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/ 


# Data
data/


# TODO but maybe the below two shouldn't even be tere
meta/
videos/
data_collection_logs/
single_episode_experiments/
single_episode_model/
single_episode_model_20k_steps/
red_cube_40k_steps_10_episodes/